.products{
    width: 100%;
    height: auto;
    display: flex;
}

.products .empty{
    width: 20%;
}

.products .content{
    padding: 0;
    flex-direction: column;
}

.products .content .product__area{
    width: 100%;
    height: auto;
    display: flex;
    gap: 20px;
}
.products .content .product__area-info{
    width: 30%;
    padding:  1.5% 0 0 1.5%;
    display: flex;
    flex-direction: column;
}

.products .content .product__area-info .info__area-head{
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.products .content .product__area-info .info__area-head h3{
    color: var(--grey);
    font-size: 1rem;
}

.products .content .product__area-info .info__area-head h3 a{
    font-size: 1rem;
    color: var(--black);
    transition: .2s;
}

.products .content .product__area-info .info__area-head h3 a:hover{
    color: var(--text-hover);
}

.products .content .product__area-info .info__area-middle{
    width: 100%;
    height: auto;
}

.products .content .product__area-info .info__area-middle h1{
    font-family: montserrat-bold;
    font-size: 4rem;
}

.products .content .product__area-info .info__area-middle .price{
    font-size: 2rem;
    font-family: montserrat-bold;
    margin: 10px 0 20px;
}

.products .content .product__area-info .info__area-middle .area__middle-sizeColor{
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 10px;
    margin: 20px 0;
}

#size-select label,
#color-select label{
    font-size: 0.75rem;
    letter-spacing: 0.0225rem;
}

#select-button,
#select-button-color{
    color: var(--black);
    margin-top: .5rem;
    display: flex;
    padding: 0.75rem;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--black);
    background-color: var(--white);
}

#selected-value{
    color: var(--black);
    font-size: 0.875rem;
    letter-spacing: 0.02625rem;
}

#chevrons svg{
    width: 1rem;
    height: 1rem;
}

#chevrons{
    color: var(--black);
}

#chevrons [data-lucide="chevron-up"]{
    display: none;
}

#options-view-button:focus + #select-button,
#options-view-button:checked + #select-button{
    outline: 1px solid var(--text-hover);
}

#size-select:has(#options-view-button:checked) label,
#options-view-button:checked + #select-button #chevrons{
    color: var(--text-hover);
}
#color-select:has(#options-view-button:checked) label,
#options-view-button:checked + #select-button-color #chevrons{
    color: var(--text-hover);
}

#size-select:has(#options-view-button:checked) label,
#options-view-button:checked + #select-button #chevrons
[data-lucide="chevron-down"]{
    display: none;
}

#color-select:has(#options-view-button:checked) label,
#options-view-button:checked + #select-button-color #chevrons
[data-lucide="chevron-down"]{
    display: none;
}

#size-select:has(#options-view-button:checked) label,
#options-view-button:checked + #select-button #chevrons
[data-lucide="chevron-up"]{
    display: block;
}

#color-select:has(#options-view-button:checked) label,
#options-view-button:checked + #select-button-color #chevrons
[data-lucide="chevron-up"]{
    display: block;
}

#size-select{
    position: relative;
}
#color-select{
    position: relative;
}

#options-view-button {
    all: unset;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
  }

#options{
    margin-top: .25rem;
    border: 1px solid var(--black);
    background: var(--white);
    display: none;
}

.option{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .75rem;
    border-bottom: 1px solid var(--black);
    position: relative;
    transition: .3s;
    color: var(--black);
}

.option svg{
    width: 1rem;
    height: 1rem;
}

.option i:last-of-type {
    margin-left: auto;
    color: var(--text-hover);
    display: none;
}

.option:has(input:checked),
.option:hover{
    border-bottom: 1px solid var(--black);
    background-color: var(--grey);
}

.option:has(input:focus){
    outline: 1ps solid var(--text-hover);
}

.option [data-lucide="check"]{
    display: none;
}

.option:has(input:checked) [data-lucide="check"]{
    display: block;
}

.option input[type="radio"]{
    all: unset;
    position: absolute;
    inset: 0;
    cursor: pointer;
}

#size-select:has(#options-view-button:checked) + #options {
    display: block;
}
#color-select:has(#options-view-button:checked) + #options {
    display: block;
}

.select:has(.option input:checked) #category-select label{
    color: var(--text-hover);
}

.select:has(.option input:checked) #selected-value{
    color: var(--black);
}

.products .content .product__area-info .info__area-middle .buy{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
}

.products .content .product__area-info .info__area-middle .buy .count{
    width: 25%;
    height: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--black);
}

.products .content .product__area-info .info__area-middle .buy .count .count-box{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.products .content .product__area-info .info__area-middle .buy .count .count-box button{
    width: 1.875rem;
    height: 1.875rem;
    cursor: pointer;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products .content .product__area-info .info__area-middle .buy .count .count-box button svg{
    width: 1.2rem;
}

.products .content .product__area-info .info__area-middle .buy .count .count-box span{
    font-size: 1.5rem;
}

.products .content .product__area-info .info__area-middle .buy .buyNow{
    width: 60%;
    height: 3.125rem;
    border: 1px solid transparent;
    background: var(--black);
    color: var(--white);
    font-size: 1rem;
    cursor: pointer;
    transition: .3s;
}
.products .content .product__area-info .info__area-middle .buy .buyNow:hover{
    background: transparent;
    border: 1px solid var(--black);
    color: var(--black);
}

.products .content .product__area-info .info__area-middle .buy .cart{
    height: 3.125rem;
    width: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    background: var(--black);
    color: var(--white);
    cursor: pointer;
    transition: .3s;
}

.products .content .product__area-info .info__area-middle .buy .cart:hover{
    background: transparent;
    border: 1px solid var(--black);
    color: var(--black);
}

.products .content .product__area-info .info__area-middle .stock{
    font-style: italic;
}

.products .content .product__area-info .info__area-middle .description{
    margin: 10px 0;
}

.products .content .product__area-info .info__area-middle .description p{
    margin: 5px 0 10px 10px;
    color: #585858;
}

.products .content .product__area-info .info__area-middle .customer-reviews{
    width: 100%;
    height: auto;
    padding: 5%;
    border: 1px solid #9e9e9e;
    transition: .3s;
}

.products .content .product__area-info .info__area-middle .customer-reviews h3{
    margin: 10px 0;
}

.products .content .product__area-info .info__area-middle .customer-reviews .review{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2% 0;
    gap: 10px;
    transition: .3s;
}

.products .content .product__area-info .info__area-middle .customer-reviews .review button{
    border: none;
    border: 1px solid transparent;
    width: 100%;
    height: 45px;
    background: var(--black);
    cursor: pointer;
    transition: .3s;
    color: white;
}

.products .content .product__area-info .info__area-middle .customer-reviews .review button:hover{
    border: 1px solid var(--black);
    background: transparent;
    color: var(--black);
    
}

.products .content .product__area-info .info__area-middle .customer-reviews .review textarea{
    width: 100%;
    height: 100px;
    resize: none;
    border: 1px solid var(--black);
    padding: 5px;
    transition: .3s;
    outline: none;
    margin-bottom: 5px;
}

.products .content .product__area-info .info__area-middle .customer-reviews .share{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}

.products .content .product__area-info .info__area-middle .customer-reviews .share a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: var(--black);
    cursor: pointer;
    transition: .2s;
}

.products .content .product__area-info .info__area-middle .customer-reviews .share a svg{
    width: 20px;
}

.products .content .product__area-info .info__area-middle .customer-reviews .share a:hover{
    color: var(--text-hover);
}

.product-area__images{
    width: 70%;
    height: auto;
}

.product-area__images .images{
    width: 100%;
    display: flex;
}

.product-area__images .images .image img{
    width: 100%;
}

.more-content{
    width: 100%;
    height: 70vh;
    padding: 1.5%;
}

.more-content .more-content-head{
    margin: 2rem 0;
}
.more-content .more-content-head h3{
    font-size: 2rem;
}
.more-content .other-products-cards{
    width: 100%;
}

.more-content .other-products-cards .card{
    max-width: 300px;
    width: 100%;
    cursor: pointer;
}

.more-content .other-products-cards .card .img{
    position: relative;
    overflow: hidden;
    margin-bottom: 5px;
}

.more-content .other-products-cards .card img{
    width: 100%;
    height: auto;
    transition: transform .5s ease;
}

.more-content .other-products-cards .card:hover .img img{
    transform: scale(1.1);
}
.more-content .other-products-cards .card h2,
.more-content .other-products-cards .card p{
    color: var(--black);
    transition: .3s;
}
.more-content .other-products-cards .card:hover h2,
.more-content .other-products-cards .card:hover p{
    color: var(--text-hover);
}